.col-xl-12{
    background-color: green;
    border: black 2px solid; 
}

.col-xl-8{
    background-color: green;
    border: black 2px solid; 
}

.col-xl-4{
    background-color: green;
    border: black 2px solid; 
}